.htmlNoPages .gwd-motion-path-xv1m-anim-x {
  --gwd-motion-path: {
    "tangentFollowing":false, "sections":[ {
      "controlPoints": ["0px", "-332px", "-18.18px", "-345.61px", "28.64px", "-299.47px", "0px", "-332px"], "startTimeMs": 0, "endTimeMs": 800, "easing": "linear"
    }
    , {
      "controlPoints": ["0px", "-332px", "0px", "-332px", "0px", "-332px", "0px", "-332px"], "startTimeMs": 800, "endTimeMs": 1300, "easing": "linear"
    }
    ], "positionTol":0.5, "angleTol":1, "optimizationLevel":0
  }
  ;
  animation: 1.3s linear 0s 1 normal forwards running gwd-motion-path-xv1m-keys-x;
  transform: translate3d(0px, 0px, 0px);
}
@keyframes gwd-motion-path-xv1m-keys-x {
  0% {
    transform: translate3d(0px, 0px, 0px);
  }
  4.62% {
    transform: translate3d(-2.48px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.0671, -0.5832, 0.8632, 0.9074);
  }
  35.38% {
    transform: translate3d(7.9px, 0px, 0px);
    animation-timing-function: cubic-bezier(0.0724, -0.653, 0.8372, 0.9006);
  }
  61.54% {
    transform: translate3d(0px, 0px, 0px);
  }
  100% {
    transform: translate3d(0px, 0px, 0px);
  }
}
.htmlNoPages .gwd-motion-path-xv1m-anim-y {
  animation: 1.3s linear 0s 1 normal forwards running gwd-motion-path-xv1m-keys-y;
  transform: translate3d(0px, -332px, 0px);
}
@keyframes gwd-motion-path-xv1m-keys-y {
  0% {
    transform: translate3d(0px, -332px, 0px);
    animation-timing-function: cubic-bezier(0.3502, -1.0208, 0.6444, 0.6302);
  }
  26.15% {
    transform: translate3d(0px, -325.35px, 0px);
    animation-timing-function: cubic-bezier(0.6201, -3.435, 0.4909, -0.7214);
  }
  53.85% {
    transform: translate3d(0px, -328.18px, 0px);
  }
  61.54% {
    transform: translate3d(0px, -332px, 0px);
  }
  100% {
    transform: translate3d(0px, -332px, 0px);
  }
}
[data-gwd-motion-path-node] {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  pointer-events: none;
}