body {
	background-color: #000;
	color: #fff;
	transition: opacity 0.2s ease;

	font-family: lexend;
	overflow-y: hidden;
}

a {color: #f5c2e7}
a:hover {color: #ff00ff}

#mainco {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0;
}

#main {
	width: 50vw;
	min-height: 500px;
	background-color: #1b1b1b;
	text-align: center;
	padding: 50px;
}

#about {padding: 10px} /* TODO: this is how you make bad css */

#pfp {
	border-radius: 100ex;
	width: 150px;
	height: 150px;
}

#links {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.btn {
	background-color: #2b2b2b;
	color: #fff;
	text-decoration: none;
	padding: 10px;
	cursor: pointer;
	border-radius: 12px;
	transition: background-color .3s ease-out, color .3s ease-out;
}

.btn:hover {background-color: #fff; color: #000}

@media screen and (max-width: 558px) {
	h1 {font-size: 1.5em;}
}
